/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root{

/** light theme **/
--background-light: hsl(293, 100%, 98%);
--on-background-light: hsl(264, 8%, 12%);
--surface-light: hsl(293, 100%, 98%);
--on-surface-light: hsl(264, 8%, 12%);
--on-surface-variant-light: hsl(264, 7%, 29%);
--surface-container-low-light: hsl(278, 44%, 96%);
--surface-container-light: hsl(276, 38%, 95%);
--surface-bright-light: hsl(293, 100%, 98%);
--primary-light: hsl(256, 34%, 48%);
--on-primary-light: hsl(0, 0%, 100%);
--outline-light: hsl(270, 4%, 47%);
--outline-variant-light: hsl(270, 11%, 79%);

/* dark theme */
--background-dark: hsl(260, 14%, 8%);
--on-background-dark: hsl(280, 17%, 90%);
--surface-dark: hsl(260, 14%, 8%);
--on-surface-dark: hsl(280, 17%, 90%);
--on-surface-variant-dark: hsl(270, 11%, 79%);
--surface-container-low-dark: hsl(264, 8%, 12%);
--surface-container-dark: hsl(257, 10%, 14%);
--surface-bright-dark: hsl(270, 5%, 23%);
--primary-dark: hsl(258, 100%, 87%);
--on-primary-dark: hsl(259, 58%, 28%);
--outline-dark: hsl(264, 5%, 58%);
--outline-variant-dark: hsl(264, 7%, 29%);



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/





/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

/* font  */
--font-primary: 'Open Sans', sans-serif;
--font-secondary: 'Noto Sans', sans-serif;

/* font size */
--base-font-size: 62.5%;
--display-large: 5.7rem;
--display-medium: 4.5rem;
--display-small: 3.6rem;
--headline-large: 3.2rem;
--headline-medium: 2.8rem;
--headline-small: 2.4rem;
--title-large: 2rem;
--title-medium: 1.6rem;
--title-small: 1.4rem;
--label-large: 1.4rem;
--label-medium: 1.2rem;
--label-small: 1.1rem;
--body-large: 1.6rem;
--body-medium: 1.4rem;
--body-small: 1.2rem;

/* font weight */
--weight-regular: 400;
--weight-medium: 500;

/* Boarder radius */

--shape-corner-extra-small: 4px;
--shape-corner-small: 8px;
--shape-corner-medium: 12px;
--shape-corner-large: 16px;
--shape-corner-full: 500px;
--shape-corner-circle: 50%;

/* box shadows */

--elevation-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;

/* other */

--section-padding: 24px;
--top-bar-height: 64px;

}
[data-theme="light"]{

  color-scheme: light;

  --background-light: var(--background-light);
  --on-background-light: var(--on-background-light);
  --surface-light:var(--surface-light);
  --on-surface-light:var(--on-surface-light) ;
  --on-surface-variant-light:var(--on-surface-variant-light);
  --surface-container-low-light:var(--surface-container-low-light);
  --surface-container-light:var(--surface-container-light);
  --surface-bright-light:var(--surface-bright-light) ;
  --primary-light:var(--primary-light) ;
  --on-primary-light:var( --on-primary-light);
  --outline-light:var(--outline-light) ;
  --outline-variant-light:var(--outline-variant-light);
}
[data-theme="dark"]{

  color-scheme: dark;

  --background-dark: var(--background-dark);
  --on-background-dark: var(--on-background-dark);
  --surface-dark:var(--surface-dark);
  --on-surface-dark:var(--on-surface-dark) ;
  --on-surface-variant-dark:var(--on-surface-variant-dark);
  --surface-container-low-dark:var(--surface-container-low-dark);
  --surface-container-dark:var(--surface-container-dark);
  --surface-bright-dark:var(--surface-bright-dark) ;
  --primary-dark:var(--primary-dark) ;
  --on-primary-dark:var( --on-primary-dark);
  --outline-dark:var(--outline-dark) ;
  --outline-variant-dark:var(--outline-variant-dark);
}

@media(prefer-reduced-motion: no-prefernce)
{
  :root {
    --motion-duration-short-1: 100ms;
    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  }
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

/**
 * BUTTON
 */


/**
 * TAB
 */


/**
 * CHIP
 */


/**
 * CARD
 */


/**
 * INPUT FIELD
 */





/*-----------------------------------*\
  #TOP BAR
\*-----------------------------------*/





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #ABOUT CARD
\*-----------------------------------*/





/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/





/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/





/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/